<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd-HH:mm:ss.SSSZ} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="monix.kafka" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache.kafka" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.apache.zookeeper" level="error" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.I0Itec.zkclient" level="WARN"/>
    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="ERROR"/>
    <logger name="org.apache.kafka.clients.NetworkClient" level="ERROR"/>

</configuration>
